<div>
    <div class="d-flex flex-column flex-md-row align-items-center px-md-4 box-shadow text-light bg-dark">
        <a class="navbar-brand mr-auto text-white" href="#">
            <img src="/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Logo
        </a>
        <nav class="my-2 my-md-0 mr-md-3 justify-content-end">
            <a class="p-2  text-white" href="#">Setting</a>
            <a class="p-2  text-white" href="#">Help</a>
            <a class="p-2  text-white" href="#">CCR</a>
        </nav>

    </div>

    <div class="nav-scroller py-1 bg-secondary">
        <nav class="nav d-flex text-white">
            <a class="p-2 px-4 text-white active" href="#">Overview</a>
            <a class="p-2 px-4 text-white" href="#">AU</a>
            <a class="p-2 px-4 text-white" href="#">GR</a>
            <a class="p-2 px-4 text-white" href="#">HK</a>
            <a class="p-2 px-4 text-white" href="#">HO</a>
            <a class="p-2 px-4 text-white" href="#">SF</a>
            <a class="p-2 px-4 text-white" href="#">SP</a>
            <a class="p-2 px-4 text-white" href="#">TA</a>
            <a class="p-2 px-4 text-white" href="#">TH</a>
            <a class="p-2 px-4 text-white" href="#">GB</a>
            <a class="p-2 px-4 text-white" href="#">CN</a>
            <a class="p-2 px-4 text-white" href="#">IN</a>
        </nav>
    </div>
    <div class="nav-scroller py-1 bg-secondary">
        <ul class="nav d-flex text-white">
            <li class="nav-item active">
              <a class="nav-link text-white" href="#">Home <span class="sr-only">Summary</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">HSBC</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">BNP Paribas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">Barclay</a>
              </li>
          </ul>
    </div>

    <div class="bg-light d-flex flex-row p-4 mb-4">
        <div class="rounded p-2 border border-danger mr-4 text-center">
            <p class="card-text">-100%</p>
            <p><strong>HSBC</strong></p>                    
        </div>
        <div class="rounded p-2 border border-success mr-4 text-center">
            <p>200%</p>
            <p><strong>BNP Paribas</strong></p>                    
        </div>
        <div class="rounded p-2 border mr-4 text-center">
            <p>152%</p>
            <p><strong>Barclay</strong></p>                    
        </div>
        <div class="rounded p-2 border mr-4 text-center">
            <p>150%</p>
            <p><strong>Nat West</strong></p>                    
        </div>
        <div class="rounded p-2 border mr-4 text-center">
            <p>150%</p>
            <p><strong>Satander</strong></p>                    
        </div>                
    </div>

    <div class="container-fluid">
        <div class="row px-2 mb-4">
            <div class="col-sm-4">
        
                <div class="card">
                    <div class="card-header">AAMP</div>
                    <div class="card-body">
                    <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>      

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">DERIVATIVE HOLDINGS</div>
                    <div class="card-body">
                        <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">CCR & EXE</div>
                    <div class="card-body">
                        <ag-grid-angular class="ag-theme-fresh"
                                        [rowData]="rowData"
                                        [columnDefs]="columnDefs">
                        </ag-grid-angular>
                    </div>
                </div>

            </div>
        </div>  

        <div class="row px-2">
            <div class="col">
        
                <div class="card">
                    <div class="card-header d-flex flex-row">
                        <div class="mr-auto">
                            <div class="btn-group btn-group-toggle mr-3" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Counter Parties
                                    </label>
                                    <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Instruments
                                    </label>
                                </div>
                                Instruments: 
                                <div class="btn-group btn-group-toggle mr-3" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> All
                                    </label>
                                    <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Derivative
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="options" id="option2" autocomplete="off"> Collateral
                                    </label>
                                </div>
                                Group by:
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Collateral allocation
                                    </label>
                                    <label class="btn btn-secondary">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> Derivative allocation
                                    </label>
                                </div>   
                        </div>
                        
                        <form class="form-inline my-2 my-lg-0">
                            <button class="btn my-2 mr-3 my-sm-0" type="submit">Export</button>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">                            
                        </form>                 
                    </div>
                    <div class="card-body">
                        
                        <h5 class="card-title">Light card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>      

        </div>  
    </div>
</div>




      <!--<router-outlet></router-outlet>-->
